* {
    margin: 0;
    padding: 0;
}
body{
    font-family: Plus Jakarta Sans;
}
header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 42px;
    font-weight: 100;
    line-height: 42px;
    letter-spacing: -0.04em;
    text-align: left;
    font-family: 
    Source Serif 4;
}
header nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    font-size: 20px;
}
header nav ul li a {
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-align: left;
    text-decoration: none;
    color: #333;
    padding: 0px 15px;
}
.hero {
    text-align: center;
    padding: 50px 20px;
}
.hero h1 {
    font-size: 120px;
    font-weight: 700;
    line-height: 120px;
    letter-spacing: -0.02em;
    margin-left: 250px;
    width: 70%;
    margin-top: 80px;
    font-family: 
    Plus Jakarta Sans;
}
.hero img {
    width: 95%;
    height: 672px;
    border: 1.5px;
    margin-top: 40px;
}
.project-grid1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px;
    width: 80%;
    margin-left: 65px;
    font-family: 
    Plus Jakarta Sans;
}
.project-grid1 h4{
    opacity: 60%;
}
.project-item img {
    width: 430px;
    height: auto;
    border: 1.5px;
    display: flex;
justify-content: space-around;
align-items: flex-start;}
.h1_extra {
    font-size: 48px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: -0.02em;
    text-align: center;
    margin-top: 160px;
    width: 55%;
    margin-left: 350px;
    font-family: Plus Jakarta Sans;
}
.projects-section {
    margin-top: 180px;
}
.projects-section img {
    width: 1344px;
    height: 672px;
    margin-left: 80px;
    margin-top: 50px;
}
.projects-section h2 {
    font-size: 120px;
    font-weight: 700;
    line-height: 120px;
    letter-spacing: -0.02em;
    text-align: center;
}
.main2 {
    padding: 40px 20px;
    text-align: center;
}
.main2 h3 {
    font-size: 34px;
    font-weight: 100;
    line-height: 40px;
    text-align: left;
    width: 89%;
    margin-left: 50px;
    margin-top: 80px;
    margin-bottom: 60px;
}
.main-photos {
    display: flex;
    gap: 60px;
    justify-content: center;
}
.project-card h4 {
    font-size: 20px;
    font-family: "Domine", serif;
    margin-top: 20px;
}
.project-card p {
    font-size: 15px;
    margin-top: 20px;
}
.project-card img {
    width: 413.33px;
    height: 420px;
}
.card {
    background: rgba(106, 90, 205, 1);
    width: 131px;
    height: 40px;
    padding: 10px 20px 10px 20px;
    color: #F4F4F4;
    margin-top: 20px;
    font-family: "Outfit", serif;
    font-size: 15px;
    border: none;
}
#form {
    font-size: 40px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}
#text {
    margin-top: 25px;
}
.Contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 150px auto;
}
.input {
    margin: 20px auto;
    width: 36px;
    height: 48px;
    text-align: center;
    background: rgba(23, 20, 46, 0.4);
    margin-top: 20px;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
    padding: 10px;
    margin-left: 10px;
    opacity: 60%;
}
.btn {
    margin: 20px auto;
    background: rgba(106, 90, 205, 1);
    color: white;
    padding: 8px 16px;
    width: 400px;
    height: 36px;
    font-size: 15px;
    font-weight: 400;
    border-style: none;
}
#skip {
    color: rgba(106, 90, 205, 1);
    margin-top: 50px;
}
.contact-text h3 {
    font-size: 48px;
    font-weight: 700;
    line-height: 32px;
    margin-left: 70px;
    display: flex;
    align-items: space;
}
.contact-text {
    display: flex;
    margin-top: 150px;
}

.contact-text p {
    margin-left: 580px;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 200px;
    margin-left: 50px;
    margin-bottom: 30px;
}
.text {
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(24, 20, 46, 0.62);
}
.contact-button {
    border: 1px solid black;
    margin-right: -160px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 168px;
    height: 52px;
    font-size: 20px;
}